.favorites {
	padding: 1.5em 0;
	background-image: url(../../assets/img/backgrounds/favorites5.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	/* display: flex; */
	/* justify-content: space-around; */
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: scroll;
	scroll-behavior: smooth;
	animation: aparecer 4s ease-in-out;
}

.container {
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 1em 6em;
	flex-wrap: wrap;
}

.containerSelects {
	display: flex;
	justify-content: center;
	gap: 0.5em 3em;
	align-items: center;
	margin-bottom: 2rem;
}
.select {
	font-family: "Lato", sans-serif;
	/* font-family: 'Roboto', sans-serif; */
	padding: 0.5em 1em;
	font-size: 1rem;
	border-radius: 10px;
	background-color: black;
	cursor: pointer;
	color: aliceblue;
}

.select option {
	font-size: 1rem;
}

.select:hover {
	background-color: black;
}

.favoriteCard {
	text-align: center;
}
@keyframes aparecer {
	0% {
		/* background-image: url(../../assets/img/backgrounds/detail-6.jpg); */
		opacity: 0;
	}

	25% {
		opacity: 0.9;
	}

	100% {
		opacity: 1;
	}
}

@media (max-width: 900px) {
	.containerSelects {
		flex-direction: column;
	}

	.select {
		width: 95%;
		height: 50px;
		text-align: center;
		font-size: 1.1rem;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
}
