.section {
	background-color: rgb(45, 45, 45);
	background-image: url("./../../assets/img/backgrounds/detail-2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: hidden;
	text-align: center;
	display: flex;
	align-items: center;
}

.formDiv {
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
	margin: 0 auto;
	width: 30vw;
	height: 36rem;
	border-radius: 1%;
	padding: 3vh 0.5rem;
	box-shadow: 0.1rem 0.1rem 0.5rem rgba(255, 255, 255);
}

.formDiv:hover {
	opacity: 1;
}

.formDiv:focus {
	opacity: 1;
}

.img {
	width: 22vw;
}

.form {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.form > * {
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding: 0.5rem 0;
	width: 80%;
}

.form p {
	font-size: 1rem;
	font-weight: bold;
	letter-spacing: 0.1rem;
	background-color: rgba(0, 0, 0);
	opacity: 1;
	color: red;
}

.form label {
	font-weight: 600;
	text-shadow: 0.1rem 0.1rem 1rem black;
	letter-spacing: 0.2rem;
}

.form button {
	font-size: 1rem;
	width: 60%;
	background-color: black;
	color: white;
	letter-spacing: 0.2rem;
	font-weight: bold;
	margin-top: 0.5rem;
	padding: 0.7rem 1.2rem;
	cursor: pointer;
	text-transform: uppercase;
	margin-top: auto;
}

.form button:hover {
	background-color: rgba(255, 255, 255, 0.5);
	color: black;
	text-transform: uppercase;
}

::placeholder {
	font-size: medium;
	color: white;
}

.warning {
	border: solid rgb(255, 229, 29) 1px;
	border-radius: 0.2em;
	font-size: 1.3rem;
}

.danger {
	font-size: 1.3rem;
	color: rgb(250, 61, 87);
	font-weight: bold;
	letter-spacing: 0.1rem;
	text-shadow: 1px 1px 3px black;
}

:active {
	opacity: 1;
}

.form input {
	font-size: 1rem;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	text-shadow: 0.1rem 0.1rem 1rem black;
}

.form select {
	background-color: rgba(255, 255, 255, 0.5);
}

.form select option {
	background-color: black;
	color: white;
}

.form a strong {
	color: rgb(31, 210, 31);
	text-shadow: 0.1rem 0.1rem 1rem black;
}

.form .ico {
	/* background-color: red; */
	display: inline;
	width: fit-content;
	font-size: 1.3rem;
}

.register {
	margin-top: 0.5rem;
	color: white;
	letter-spacing: 0.1rem;
	font-size: 1.1rem;
	font-weight: bold;
	text-shadow: 2px 2px 5px black;
}

.register a {
	color: rgb(31, 210, 31);
	text-shadow: 1px 1px 5px black;
	margin-left: 0.5rem;
}

@media only screen and (max-width: 900px) {
	.formDiv {
		width: 22rem;
		margin: 5rem auto;
		padding: 1rem;
	}

	.form {
		padding: 1rem;
	}

	.form input,
	.form button {
		width: 90%;
		padding: 0.6rem 0.3rem;
	}

	.form button {
		padding: 0.8rem;
	}
}

@media only screen and (max-width: 400px) {
	.formDiv {
		height: 80vh;
		width: 88%;
	}

	.register {
		font-size: 1rem;
	}

	.form .ico {
		font-size: 1.3rem !important;
	}
}
