body {
	font-family: "Lato", sans-serif;
}

.cards {
	background-image: url(../../assets/img/backgrounds/background.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: hidden;
	text-align: center;
	padding-top: 1em;
	display: flex;
	flex-wrap: wrap;
	/* align-items: center; */
	justify-content: space-evenly;
	gap: 0 6vw;
	color: white;
}

.searchBar {
	width: 2rem;
}

@media screen and (max-width: 768px) {
	.cards {
		justify-content: center;
		align-items: center;
	}
}
