body {
	font-family: "Lato", sans-serif;
}

.cards {
	margin-top: 3rem;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
	gap: 0 6vw;
	color: white;
}

.searchBar {
	width: 2rem;
}
