@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Lilita+One&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Seymour+One&family=Sriracha&display=swap");

.about {
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	color: rgb(230, 230, 230);
	background-image: url("../../assets/img/backgrounds/about-background2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
	animation: aparecer 3s ease-in-out;
	overflow-y: hidden;
	font-family: "Sriracha", cursive;
	font-weight: 400;
	font-style: normal;
}

.container {
	margin-left: 13rem;
}

.info {
	width: 50%;
	height: 70rem;
	font-size: 1.3rem;
	text-align: center;
}

.info h5 {
	letter-spacing: 0.1rem;
}

.imgPerfilContainer {
	width: 50%;
	margin-top: 3em;
	text-align: center;
}

.imgPerfil {
	width: 170px;
	border-radius: 50%;
	border: 1px solid rgba(23, 14, 76, 0.5);
	-webkit-box-shadow: 0.1rem 0.1rem 0.5rem rgb(84, 142, 163);
	box-shadow: 0.1rem 0.1rem 0.5rem rgb(84, 142, 163);
}

.imgContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5rem;
}

.imgLinkedin,
.imgGithub {
	width: 4rem;
	border-radius: 0.5rem;
	background-color: white;
	transition: all 1s ease-in-out;
}

.imgLinkedin:hover,
.imgInstagram:hover,
.imgGithub:hover {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
	opacity: 1;
	-webkit-box-shadow: 0.3rem 0.3rem 6rem rgb(84, 142, 163);
	box-shadow: 0.3rem 0.3rem 6rem rgb(84, 142, 163);
}

.imgLinkedin:hover {
	color: rgb(2, 115, 179);
}

.ul {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 1em;
	list-style: none;
	font-size: 1.5rem;
	padding-left: 0;
}

@media screen and (max-width: 768px) {
	.about {
		min-height: 100vh;
		height: auto;
		background-image: url(/src/assets/img/backgrounds/mobile-background.webp);
	}

	.container {
		margin-left: 0;
		padding: 1em;
		text-shadow: 2px 2px 4px black;
	}

	.info {
		width: 100%;
		height: auto;
		font-size: 1.1rem;
		text-align: center;
	}

	.imgPerfilContainer {
		width: 100%;
		text-align: center;
	}

	.ul {
		font-size: 1.1rem;
		max-width: 100%;
		flex-wrap: wrap;
	}

	.ul li {
		list-style: none;
	}

	.imgLinkedin,
	.imgGithub {
		width: 3.5rem;
	}
}

/* Prefijo de proveedor para animaciones CSS */
@-webkit-keyframes aparecer {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 0.9;
	}
}

@keyframes aparecer {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 0.9;
	}
}
