.card {
	font-size: 0.6rem;
	letter-spacing: 0.06rem;
	min-width: fit-content;
	width: 12rem;
	height: 21rem;
	border-radius: 1rem;
	box-shadow: 2px 2px 10px #301950;
	background-color: rgba(0, 0, 0, 0.7);
	transition: transform 0.5s ease;
	animation: aparecer 2s ease-in-out;
}

.card:hover {
	box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.8);
	transform: scale(1.05);
	cursor: pointer;
	/* transform: rotate(-10deg); */
	/* background-color: #070101b9; */
	/* background-color: rgb(217, 238, 124); */
	/* color: aliceblue; */
	/* transform: rotate(1deg); */
}

.card:hover .img {
	animation: scaleAnimation 3s infinite;
}

.title {
	font-size: 1rem;
}

.img {
	border-radius: 25%;
	box-shadow: 1px 1px 5px #0b2b8d;
	width: 75%;
}

a:link,
a:visited {
	color: white;
	text-decoration: none;
}

.buttons {
	padding: 0.5em 0;
	margin: 0 0.5rem;
	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;
}

.btnFav,
.btn {
	display: flex;
	/* align-items: center; */
	background-color: transparent;
	border-radius: 50%;
	border: none;
	/* scale: 1.2; */
	font-size: 1.5rem;
	/* text-indent: 9rem; */
}

.btn:hover {
	transform: scale(1.1);
	cursor: pointer;
}

.btnFav:hover {
	opacity: 1;
	transform: scale(1.1);
	cursor: pointer;
}

.favIcon {
	width: 25px;
}

.closeIcon {
	width: 30px;
}

@keyframes scaleAnimation {
	/* 0% {
        scale: 1.1;
    } */

	50% {
		scale: 1.1;
	}

	75% {
		scale: 1.1;
	}

	100% {
		scale: 1;
	}
}

@keyframes imgScale {
	0% {
		scale: 1.05;
	}

	100% {
		scale: 1.05;
	}
}

@keyframes aparecer {
	0% {
		opacity: 0;
	}

	25% {
		opacity: 0.9;
	}

	100% {
		opacity: 1;
	}
}

@media screen and (max-width: 768px) {
	.title {
		font-size: 24px;
	}
	.card {
		width: 16rem;
		height: 100%;
		justify-self: center;
		padding: 1.5rem 0;
		font-size: 14px;
	}
	.img {
		width: 75%;
	}
}
