.searchBarContainer {
	font-family: "Lato", sans-serif;
	font-weight: bold;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	padding: 0;
	margin: 0;
}

.input {
	height: 35px;
	width: 150px;
	margin: 0;
	border: none;
	padding: 0;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 1px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.button {
	/* background-color: rgb(67, 15, 131); */
	/* color: white; */
	font-family: "Lato", sans-serif;
	margin-left: 1.5rem;
	font-size: 0.8rem;
	font-weight: bold;
	border-radius: 5px;
	cursor: pointer;
	width: 100px;
	height: 35px;
	letter-spacing: 1px;
	border: none;
}

.button:hover {
	background-color: rgb(255, 217, 172);
	color: black;
}

.searchBarContainerBtn {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.btnSearch {
	margin: 0;
	border-radius: 0;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	width: 50px;
}

.searchButtonImg {
	max-height: 100%;
}

.buttonCleanScreen {
	font-size: 0.7rem;
}

.audio {
	display: none;
}

.input::placeholder {
	color: rgba(0, 0, 0, 0.5);
	text-shadow: none;
	font-size: 0.8rem !important;
}

.iconCleanScreen {
	display: none;
}
/* Responsive Design */

@media screen and (max-width: 900px) {
	.searchBarContainer {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.input::placeholder {
		font-size: 1rem !important;
	}

	.input,
	.button {
		font-size: 1rem;
		margin: 0.5rem 0;
		width: 100%;
		border-radius: 5px;
		padding: 0.5em 0;
	}

	.input {
		width: 95vw;
	}
}

@media screen and (max-width: 900px) {
	.buttonCleanScreen {
		display: none;
	}
}
