.div {
	font-family: "Lato", sans-serif;
	font-weight: bold;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.input {
	font-size: 0.8rem;
	padding: 0.6vh 1.2vw 0.6vh 0.3vw;
}

.button {
	padding: 0.6vh 1.2vw;
}

.button {
	font-family: "Lato", sans-serif;
	margin-left: 1.5rem;
	font-size: 0.9rem;
	font-weight: bold;
	border-radius: 0.2rem;
	cursor: pointer;
}

.button:hover {
	background-color: rgb(255, 217, 172);
	color: black;
}

.audio {
	display: none;
}
