.section {
	background-color: rgb(45, 45, 45);
	background-image: url("./../../assets/img/backgrounds/wallpaper100.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	/* background-image: url("../../assets/img/form_background.jpg"); */
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: hidden;
	text-align: center;
	display: flex;
	align-items: center;
}

.formDiv {
	background-color: rgb(26, 26, 26);
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	color: white;
	margin: 28vh auto 5vh;
	width: 30vw;
	height: 35rem;
	border-radius: 1%;
	padding: 3vh 0.5rem;
	box-shadow: 0.1rem 0.1rem 0.5rem rgba(255, 255, 255);
	margin-bottom: 10rem;
}

.formDiv:hover {
	opacity: 1;
}

.formDiv:focus {
	opacity: 1;
}

.img {
	width: 95%;
	/* background-color: black; */
}

.form {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.form > * {
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding: 0.5rem 0;
	width: 80%;
}

.form p {
	font-size: 0.9rem;
	opacity: 1;
}

.form label {
	font-weight: 600;
}

.form button {
	background-color: black;
	color: white;
	letter-spacing: 0.3rem;
	font-weight: bold;
	margin-top: 0.5rem;
	padding: 0.4rem 0.8rem;
	cursor: pointer;
	text-transform: uppercase;
	margin-top: auto;
}

.form button:hover {
	background-color: rgb(255, 217, 172);
	color: black;
	/* box-shadow: 0.2rem 0.2rem 0.8rem whitesmoke; */
	text-transform: uppercase;
}

::placeholder {
	font-size: medium;
	color: white;
}

.warning {
	border: solid rgb(255, 229, 29) 1px;
	border-radius: 0.2em;
	font-size: 1.3rem;
}

.danger {
	font-size: 1.3rem;
	color: rgb(250, 61, 87);
	font-weight: bold;
	letter-spacing: 0.1rem;
	text-shadow: 1px 1px 3px black;
}

:active {
	opacity: 1;
}

.form input {
	background-color: rgba(255, 255, 255, 0.5);
	color: white;
}

@media only screen and (max-width: 900px) {
	.formDiv {
		width: 90vw;
		margin: 5rem auto;
		padding: 1rem;
	}

	.form {
		padding: 1rem;
	}

	.form input,
	.form button {
		width: 100%;
	}

	.form button {
		padding: 0.8rem;
	}
}
