@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap");

body {
	font-family: "Lato", sans-serif;
	margin: 0;
	padding: 0;
}

.navContainer {
	font-family: "Lato", sans-serif;
	font-weight: bold;
	background-color: #070101a2;
	display: flex;
	align-items: center;
	width: 100vw;
	padding: 0.5vh 1vw;
}

.navImg {
	width: 8vw;
}

.homeAbout,
.nav {
	/* margin-right: 10rem; */
	width: 100%;
	font-family: "Lato", sans-serif;
	flex-basis: 50%;
	align-items: flex-end;
	padding: 0 1rem;
}

.homeAbout {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.navLink,
.activeLink,
.button {
	font-family: "Lato", sans-serif;
	padding: 0.6vh 1.2vw;
	font-size: 0.9rem;
	text-transform: uppercase;
	font-weight: bold;
	/* margin-top: 1.5rem; */
	/* margin-bottom: 1.5rem; */
	margin-right: 1.5rem;
	border-radius: 0.2rem;
	cursor: pointer;
}

.button:nth-last-child(2) {
	white-space: nowrap;
	display: flex;
	justify-content: space-between;
}

.activeLink {
	color: orangered !important;
	/* box-shadow: 1px 1px 5px white; */
}

.navLink:hover {
	background-color: rgb(255, 217, 172);
	color: black;
}

.button[disabled] {
	cursor: not-allowed;
}

.button:hover:not(button[disabled]) {
	background-color: rgb(255, 217, 172);
	color: orangered;
}

.div:hover {
	/* background-color:rgba(83,11,132, 0.3); */
	background-color: black;
}

.signLogin {
	display: flex;
	width: 100vw;
	justify-content: space-around;
}

.button:nth-last-child(1) {
	margin-right: 3rem;
}

.menuToggle {
	display: none;
}

/* li {
	list-style: none;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
} */

/* Responsive desing */

@media screen and (max-width: 900px) {
	.navContainer,
	.homeAbout {
		flex-direction: column;
	}

	.homeAbout a {
		width: 100%;
		padding: 1.5rem 0;
		transition: 0.5s all;
		letter-spacing: 0.3rem;
	}

	.navImg {
		display: none;
	}

	.navLink,
	.activeLink,
	.button {
		font-size: 1.2rem;
	}

	.button {
		margin-right: 0 !important;
		width: 100%;
		padding: 0.8rem 0;
		background-color: #170e4c;
		color: white;
	}

	.menuToggle {
		border: 3px solid black;
		border-radius: 15%;
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		margin-top: 1rem;
		margin-right: 0.5rem;
		filter: invert(1);
		width: 30px;
		height: 30px;
		padding: 0.5rem 0.8rem;
		z-index: 1000;
	}

	.navContainer {
		background-color: black;
		background-image: inherit;
		padding-top: 4rem;
		position: fixed;
		z-index: 999;
		transform: translateY(-100%);
		transition: transform 0.5s;
	}

	.menuToggleShow {
		position: static;
		transform: translateY(0);
	}
}

@media screen and (max-width: 500px) {
	.navContainer {
		height: 100vh;
		z-index: 100;
	}
}
