@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap");

body {
	font-family: "Lato", sans-serif;
	margin: 0;
	padding: 0;
}

.navContainer {
	font-family: "Lato", sans-serif;
	font-weight: bold;
	background-color: rgba(0, 0, 0, 1);
	display: flex;
	align-items: center;
	width: 100vw;
	padding: 0.5vh 1vw;
}

.navImg {
	width: 8vw;
}

.homeAbout {
	width: 50%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.searchBarContainerPrincipal {
	width: 50%;
	display: flex;
	align-items: center;
	/* justify-content: right; */
	font-family: "Lato", sans-serif;
	padding: 0 1rem;
}

.navLink,
.activeLink,
.button {
	font-family: "Lato", sans-serif;
	padding: 0.6rem 1.2rem;
	font-size: 0.9rem;
	text-transform: uppercase;
	font-weight: bold;
	border-radius: 0.2rem;
	cursor: pointer;
}

.activeLink {
	color: orangered !important;
	/* box-shadow: 1px 1px 5px white; */
}

.navLink:hover {
	background-color: rgb(255, 217, 172);
	color: black;
}

.div:hover {
	/* background-color:rgba(83,11,132, 0.3); */
	background-color: black;
}

.signLogin {
	display: flex;
	width: 100vw;
	justify-content: space-around;
}

/* Button Logout */
.button:nth-last-child(1) {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.9rem;
	background-color: red;
	color: white;
	width: 120px;
	height: 40px;
	border-radius: 5px;
	letter-spacing: 1px;
	margin-left: auto;
	margin-right: 30px;
}

@media (max-width: 900px) {
	.button:nth-last-child(1) {
		background-color: red !important;
		margin: 0 auto !important;
	}
}

/* Container Button Favorites */
.btnFavoritesContainer {
	/* width: 50vw; */
}

/* Button Clean Favorites */
.btnFavorites {
	font-family: "Lato", sans-serif;
	padding: 0.6rem 1.2rem;
	font-size: 0.9rem;
	height: 35px;
	display: flex;
	align-items: center;
	width: max-content;
	font-weight: bold;
	border-radius: 0.2rem;
	cursor: pointer;
}

.toggleMenuContainer {
	display: none;
}

@media (max-width: 900px) {
	.btnFavorites {
		margin: 1rem 0;
		width: 95vw;
		height: 40px;
	}
}

.button[disabled] {
	cursor: not-allowed;
}

.button:hover:not(button[disabled]) {
	background-color: rgb(255, 217, 172);
	color: orangered;
}

.menuToggle {
	display: none;
}

.closeSessionImg {
	margin-left: 10px;
	max-height: 100%;
}
/* li {
	list-style: none;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
} */

/* Responsive desing */

@media screen and (max-width: 900px) {
	.navContainer {
		padding: 1em 0;
	}

	.navContainer,
	.homeAbout {
		padding-top: 1em;
		flex-direction: column;
	}

	.homeAbout {
		margin-top: 1em;
		width: 100%;
	}

	.homeAbout a {
		display: flex;
		padding: 0.5em 0;
		transition: 0.5s all;
		letter-spacing: 0.3rem;
		margin-right: 0;
		width: 100%;
		height: 60px;
		align-items: center;
		justify-content: center;
	}

	.searchBarContainerPrincipal {
		flex-direction: column;
		width: 100%;
		align-items: center;
	}

	.navImgContainer {
		display: none;
		/* position: absolute;
		top: 1;
		right: 0;
		z-index: 3000; */
	}

	.navImg {
		display: none;
		/* position: absolute;
		top: 1;
		right: 0;
		z-index: 3000;
		width: 60px; */
	}

	.navLink,
	.activeLink,
	.button {
		font-size: 1.2rem;
	}

	.button,
	.button:nth-last-child(1) {
		border: none;
		margin: 0 !important;
		display: flex;
		margin-right: 0 !important;
		width: 95%;
		padding: 0.8rem 0;
		color: white;
		justify-content: center;
		align-items: center;
	}

	.button:nth-last-child(1) {
		height: 50px;
		font-size: 1rem;
		max-width: 100%;
	}
	.button:nth-last-child(2) {
		justify-content: center;
		margin-bottom: 1em !important;
	}

	.toggleMenuContainer {
		display: flex;
		position: absolute;
		top: 0;
		right: 0;
		width: 100vw;
		height: 30px;
		width: 100%;
		background-color: black;
		padding: 1rem 0;
		z-index: 2000;
		align-items: center;
	}

	.menuToggle {
		display: flex;
		width: 40px;
		height: 30px;
		border: 1px solid white;
		border-radius: 5px;
		padding: 0.5rem;
		z-index: 1000;
		margin-left: 10px;
		color: white;
	}

	.menuToggleIco {
		background-color: red;
	}

	.navContainer {
		background-color: black;
		background-image: inherit;
		padding-top: 3rem;
		position: fixed;
		z-index: 999;
		transform: translateY(-100%);
		transition: transform 0.5s;
	}

	.menuToggleShow {
		position: static;
		transform: translateY(0);
	}
}

@media (min-width: 900px) and (max-width: 1100px) {
	.homeAbout {
		justify-content: center;
		gap: 0;
		padding: 0;
		width: 50%;
	}

	.navLink,
	.activeLink,
	.button {
		margin-right: 0.5rem;
	}

	.navImgContainer {
		display: none;
	}

	.navImg {
		display: none;
	}

	.searchBarContainerPrincipal {
		margin-left: auto;
	}
}

@media (min-width: 900px) and (max-width: 1300px) {
	.homeAbout,
	.searchBarContainerPrincipal {
		width: fit-content;
		align-items: center;
		margin-left: 30px;
	}

	.button:nth-last-child(1) {
		background-color: red;
		margin-left: 30px;
	}
}
